<h1>My Workouts</h1>

<ul>
  <% @workouts.each do |wo| %>
    <li><a href="/workouts/<%= wo.id %>"><%= wo.name %></a> (<%= wo.videos.count %> videos)
      <% if wo.description.nil? %>
        <%= %>
      <% else %>
      <ul>
        <li><%= wo.description %></li>
      </ul>
      <% end %>
    </li></br>
  <% end %>
</ul>

<%= link_to "Create Workout", new_workout_path %>

