<h1>These are your workouts!</h1>

<ul>
  <% @workouts.each do |wo| %>
    <li><h4><a href="/workouts/<%= wo.id %>"><%= wo.name %></a></h4> (<%= wo.videos.count %> videos)
      <% if wo.description.nil? %>
        <%= %>
      <% else %>
      <ul>
        <li><%= wo.description %></li>
      </ul>
      <% end %>
    </li></br>
  <% end %>
</ul>

<h3><%= link_to "Create Workout", new_workout_path %></h3>

