<h1>Arnold says: These are your workouts!</h1>
<img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcQ2LKrlWQrmg31NrUEOdo3MkzLcmvHZUw2ONFgKyucLpcWwGC2I"

<ul>
  <% @workouts.each do |wo| %>
    <li><a href="/workouts/<%= wo.id %>"><%= wo.name %></a> (<%= wo.videos.count %> videos)
      <% if wo.description.nil? %>
        <%= %>
      <% else %>
      <ul>
        <li><%= wo.description %></li>
      </ul>
      <% end %>
    </li></br>
  <% end %>
</ul>

<%= link_to "Create Workout", new_workout_path %>

