<h1>My Lifts</h1>

<ul>
  <% @videos.each do |video| %>
   <li> <%= link_to video.name, video.url, :target => '_blank' %> <%= Lift.find(video.lift_id).name %>
      <ul>
        <li><%= video.description %></li>
      </ul>
   </li>
<% end %>
</ul>

<h3>Create new lift category</h3>
<%= form_for(@lift, :url => videos_path, :method => :post) do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name, :placeholder => "Enter a new category" %>
  <%= f.submit %>
<% end %>