<form action="/lifts" method="post">
  <label for="name">Name</label></br>
  <input type="text" name="name" placeholder="enter a new category">
  <button>save</button>
</form>


 <form action="/lifts/<%= video.id %>" method="post">
    <input type="hidden" name="_method" value="delete">
    <button>DELETE VIDEO</button>
  </form>
  </li>
  <% end %>
</ul>


DELETE VIDEO
<%= form_for @lift do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name, :placeholder => "Enter a new category", :method => 'delete' %>
  <%= f.submit %>
<% end %>
  </li>
  <% end %>
</ul>

 <form action="/lifts/<%= video.id %>" method="post">
    <input type="hidden" name="_method" value="delete">
    <button>DELETE VIDEO</button>
  </form>