
<ul>
  <% @lifts.each do |lift| %>
    <li><a href="/lifts/<%= lift.id %>"><%= lift.name %></a>
     (<%= lift.videos.count %>)
    </li></br>
  <% end %>
    <li><%= link_to "All Videos",  lifts_videos_path %> (<%= @videos.count %>)
    </li>
</ul>

