<h1>Hello <%= current_user.username %></h1>
<h2>Welcome to WorkoutBuilder!</h2>

<br />
<ul class="home">
  <%= link_to "Home", index_path %>
<%= link_to "Search", search_path %>
<%= link_to "My Lifts", lifts_index_path %>
<%= link_to "My Workouts", workouts_index_path %></ul>
</br>
</br>
<p class="lead">WorkoutBuilder is the best way to find and quickly reference exercise specific instructional videos on YouTube. It allows you to find and reference videos based on muscle category or a specific workout that you create!</p>

<h3>Our motto: "What would Arnold do?"</h3>

<img src="http://www.biography.com/imported/images/Biography/Images/Profiles/S/Arnold-Schwarzenegger-9476355-2-402.jpg">