 <ul>
  <% @videos.videos.each do |video| %>
  <li><a href="<%= video.player_url %>"><%= video.title %></a>
</form>
  <ul>
      <li>Average rating:<%= video.rating.average %></li>
      <li>Likes:<%= video.rating.likes %></li>
      <li>Dislikes:<%= video.rating.dislikes %></li>
      <li>Total votes:<%= video.rating.rater_count %></li>
  </ul>
  </li>
 <!--  <Drop down for lifts>
    or
  <input lift> -->

  <select>
  <option value="">Volvo</option>
  <option value="saab">Saab</option>
  <option value="mercedes">Mercedes</option>
  <option value="audi">Audi</option>
</select>


 <form action="/lifts/videos" method="post">
  <input type="hidden" name="url" value="<%= video.player_url %>">
  <input type="hidden" name="title" value="<%= video.title %>">
  <button>save</button>


</br>
</ul>
<% end %>


<!-- .title
.video_id -->