 <ul>
  <% @videos.videos.each do |video| %>
  <li><a href="<%= video.player_url %>"><%= video.title %></a>
</form>
  <ul>
      <li>Average rating:<%= video.rating.average %></li>
      <li>Likes:<%= video.rating.likes %></li>
      <li>Dislikes:<%= video.rating.dislikes %></li>
      <li>Total votes:<%= video.rating.rater_count %></li>
  </ul>
  </br>
<form action="/lifts/videos" method="post">
  <label for="description">Description</label></br>
  <input type="text" name="description">
  <select>
    <% @lifts.each do |lift| %>
  <option value="<%= lift.name %>"><%= lift.name %></option>
    <% end %>
  </select>

  <input type="hidden" name="url" value="<%= video.player_url %>">
  <input type="hidden" name="title" value="<%= video.title %>">
  <button>save</button>
</li>
</br>
</ul>
<% end %>

