<div id="videoSearch">
  <% @videos.videos.each do |video| %>
  <div style="text-align:left; margin-left:200px; background-color: #F6F6F6">
  <ul>
    <li><%= link_to video.title, video.player_url,
     :target => '_blank' %>
      <% if video.rating.nil? %>
      <ul>
        <li>Views: <%= video.view_count %></li>
        <li><%= "no rating" %></li>
      </ul>
      <% else %>
      <ul>
        <li>Views: <%= video.view_count %></li>
        <li>Average rating: <%= video.rating.average %></li>
        <li>Likes: <%= video.rating.likes %></li>
        <li>Dislikes: <%= video.rating.dislikes %></li>
        <li>Total votes: <%= video.rating.rater_count %></li>
    </ul>
  </div>
    <% end %>
  </br>


<%= form_for(@video, :url => create_path, :method => :post)  do |f| %>
  <%= f.label :description %>
  <%= f.text_field :description %>
  <%= hidden_field_tag :url, video.player_url  %>
  <%= hidden_field_tag :name, video.title %>
  <%= collection_select :video, :lift_id, Lift.all, :id, :name%>

  <%= f.submit %>
</ul>
<% end %>

<% end %>
</div>

