<!DOCTYPE html>
<html>
<head>
  <title>YouTube</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav>
    <%= link_to "Index", index_path %>
    <%= link_to "search", search_path %>
    <%= link_to "my_lifts", lifts_index_path %>
    <%= link_to "my_workouts", workouts_index_path %>
  </nav>




<%= yield %>

</body>
</html>
