<!DOCTYPE html>
<html>
<head>
  <title>WorkoutBuilder</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
</head>
<body>
  <nav class="navbar-inner">
    <li><%= link_to "Home", index_path %></li>
    <li><%= link_to "Search", search_path %></li>
    <li><%= link_to "My Lifts", lifts_index_path %></li>
    <li><%= link_to "My Workouts", workouts_index_path %></li>
  <%= render 'devise/menu/registration_items' %>
  <%= render 'devise/menu/login_items' %>
  </nav>


<main role="main">
    <div class="container">
    <div class="content alinacenter">
      <div class="row">
        <div class="span12">

          <% if notice %>
              <p class="notice"><%= notice %></p>
          <% end %>
          <% if alert %>
              <p class="alert"><%= alert %></p>
          <% end %>
          <br />
          <%= yield %>
        </div>
      </div>
      <footer>
      </footer>
    </div>
  </div>
</main>

</body>
</html>
