<!DOCTYPE html>
<html>
<head>
  <title>WorkoutBuilder</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav>
    <li><%= link_to "Home", index_path %></li>
    <li><%= link_to "search", search_path %></li>
    <li><%= link_to "my_lifts", lifts_index_path %></li>
    <li><%= link_to "my_workouts", workouts_index_path %></li>
  <%= render 'devise/menu/registration_items' %>
  <%= render 'devise/menu/login_items' %>
  </nav>


  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

<%= yield %>

</body>
</html>
